<!-- Content for the Add_Edit_close page -->
<main class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="text-center"><%= title %></h1>

            <form class="form" method="POST">
                <div class="btns text-center">
                    <button class="btn btn-danger" >                   
                        <a href="#" type="submit" style= "color: inherit; text-decoration: inherit;" >
                        <i class="fas fa-trash"></i>
                            Delete
                        </a>
                    </button>
                </div>
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= ._id %>"
                    >
                    <label for="incideDescTextField">Incident Description: </label>
                    <input type="text" class="form-control"
                        id="incideDescTextField"
                        placeholder="Current Incident"
                        name="incideDesc" 
                        value="<%=  %>"
                        required>
                </div>
                <div class="form-group">
                    <label for="incidPriTextField">Incident Priority: </label>
                    <select name="pull-down" class="form-control" id="incidPri" value="<%=  %>" required>
                        <!-- <option hidden>Please select...</option> -->
                        <option value="priority1"></option>
                        <option value="priority2"></option>
                        <option value="priority3"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="incidNarTextField">Incident Narrative: </label>
                    <textarea type="text" class="form-control" id="emailTextField" placeholder="" name="incidNar" 
                    value="<%=  %>"></textarea>
                </div>
                <div class="form-group">
                    <label for="incidStatTextField">Incident Status: </label>
                    <select name="pull-down" class="form-control" id="incidStat" required>
                        <!-- <option hidden>Please select...</option> -->
                        <option value="stat1"></option>
                        <option value="stat2"></option>
                        <option value="stat3"></option>
                    </select>
                </div>
                <br>
                <h4 class="text-decoration-underline"> Customer Information</h4>
                <div class="form-group">
                    <label class="label" for="firstname" name="firstname">First Name:</label>
                       <input type="text" class="form-control" placeholder="" id="firstname" value="<%=  %>" required>                        
               </div>           
               <div class="form-group">
                    <label class="label" for="lastname" name="lastname">Last Name:</label>
                        <input type="text" class="form-control" placeholder="" id="lastname" value="<%=  %>" required>                        
               </div>
               <div class="form-group">
                <label class="label" for="email" Name="email">Email:</label>
                    <input type="text" class="form-control" placeholder="" id="email"  value="<%=  %>" required>                        
                </div>
                <div class="form-group">
                    <label for="phoneNumTextField">Phone Number</label>
                    <input type="number" class="form-control"id="phoneNumTextField" placeholder="" name="phoneNumber" 
                    value="<%=  %>"required>
                </div>

                <div class="btns">
                    <button class="btn btn-dark" type="submit">
                        <i class="fas fa-edit"></i> 
                        Submit
                    </button>
                    <button class="btn btn-outline-dark">
                    <a href="#" class = "cancel" >
                    <i class="fas fa-undo"></i> 
                        Cancel
                    </a>
                    </button>
                </div>
                <div class="btns">
                    <button class="btn btn-dark" type="submit">
                        <i class=""></i> 
                        Return to List
                    </button>
                </div>                                                 
            </form>
        </div>

    </div>
</main>