<p>register works!</p>
<!-- Content for the Register page -->
<main class="container">
    <!-- Message Area -->
       <div class="alert alert-danger">
       </div>
   <!-- Register form -->
   <div class="row">
       <form id="registerform" method="POST" autocomplete="off" validate>
           <h1 id="registertitle"> User Registration <span><i id="keyicon" ></i></span></h1>

           <div class="register-field">
                <label class="label" for="firstname" name="firstname">First Name:</label>
                   <input type="text" class="registerform-control" placeholder="" id="firstname" required>                        
           </div>           
           <div class="register-field">
                <label class="label" for="lastname" name="lastname">Last Name:</label>
                    <input type="text" class="registerform-control" placeholder="" id="lastname" required>                        
           </div>
           <div class="register-field">
                <label class="label" for="username" name="username">User Name:</label>
                    <input type="text" class="registerform-control" placeholder="" id="username" required>                        
           </div>
           <div class="register-field">
                <label class="label" for="usertype" Name="usertype">User type:</label>
                    <select name="pull-down" class="registerform-control" id="usertype" required>
                        <option hidden>Please select...</option>
                        <option value="usertype1">User Type 1</option>
                        <option value="usertype2">User Type 2</option>
                        <option value="usertype3">User Type 3</option>
                    </select>                     
           </div>
           <div class="register-field">
                <label class="label" for="email" Name="email">Email:</label>
                    <input type="text" class="registerform-control" placeholder="" id="email" required>                        
           </div>
           <div class="register-field">
                <label class="label" for="password" Name="password">Password:</label>
                    <input type="text" class="registerform-control" placeholder="" id="password" required>                        
           </div>
           <div class="register-field">
                <label class="label" for="confirm-password" Name="confirmpassword">Confirm Password:</label>
                    <input type="text" class="registerform-control" placeholder="" id="confirm_password" required>                        
           </div>

            <div class="registerpg-btns">
                <button type="submit" class="registerbtn">Register</button>
                <a href="/">
                <input class="cancelbtn" type="button" value="Cancel">
                </a>
            </div>

            <div class="signin-link">
                Current user?    
                <a id="signinlink" href="/signin" >
                Sign-in    
                </a>
            </div>
       </form>               
   </div> 
</main>


