<!-- Content for the signin page -->
<main class="container">
    <!-- Message Area -->
        <!-- <div class="alert alert-danger">
        </div> -->
    <!-- Signin form -->
    <div class="row">
        <form id="signinform"method="POST" autocomplete="off">
            <h1 class="text-center">User Sign-in</h1>

                <div class="field">
                    <label class="label" for="username" name="username">User Name:</label>
                        <input type="text" class="form-control" placeholder="" id="username" required>                        
                </div>
                <div class="field">
                    <label class="label" for="password" Name="password">Password:</label>
                        <input type="text" class="form-control" placeholder="" id="password" required>                        
                </div>
                
                <div class="btns">
                    <button class="btn btn-dark btn-sm">Sign-in</button>
                    <button class="btn btn-outline-dark"><a href="#" class = "cancel" > Cancel</a></button>                        
                </div>

                <div class="text-center">
                    Forgot password? Click     
                    <a id="forgotpwlink" href="#" >
                    here   
                    </a>
                </div>
        </form>               
    </div>   
</main>