<p>dashboard works!</p>
<!-- Incident Dashboard Main Content -->

<main class="container" id="">
    <div class="row">
        <div class="table-responsive">
            <h1 class="pagetitle">Incident Dashboard</h1>
            <div class="dashboard-btn">
                <div>
                    <a href="#" id="new-report" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> 
                        New Incident Report
                    </a>                
                </div>
                <div>
                    <a href="#" id="view-reports" class="btn btn-outline-primary" role="button">
                        <i class="fab fa-readme"></i> 
                        View All Incident Reports
                    </a>                
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Report Number</th>
                    <th class="text-center">Description</th>
                    <th class="text-center" colspan="2">Menage</th>
                </tr>
                <!-- Repeatable Template Row -->
                <!-- <% for(let count = 0; count < Reports.length; count++) { %>
                    <tr>
                        <td class="text-center"><%=Reports[count].reportNumber %></td>
                        <td class="text-center"><%=Reports[count].description %></td> -->
                        <td class="text-center">
                            <a href="/dashboard/edit/<%= Reports[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/dashboard/delete/<%= Reports[count]._id %>" class="btn btn-secondary btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>                        
                    </tr>   
                <!-- <% } %> -->
            </table>
        </div>
    </div>
</main>